/* Defaults */
:root {
  --font-family-headings: "Lora", serif;
  --font-family-body: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  --font-family-banner: "Nunito", sans-serif;
  --bs-link-color: #c05b4d;
  --bs-link-hover-color: #c05b4d;
  --banner-image: url("../img/banner.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}


/* Global stylesheet */
html,
body {
  padding: 0;
  margin: 0;
  --bs-body-font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headings);
}

a[href]:link {
  text-decoration: none;
}
a[href]:hover {
  text-decoration: underline;
}

code {
  padding: 3px 5px;
  border-radius: 4px;
  color: #c7254e;
  background: #f8f5ec;
}

blockquote {
  border-left: 2px solid #c05b4d;
  padding-left: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  background-image: var(--banner-image);
}

.header-with-banner {
  height: 384px;
}

main {
  padding-top: 100px;
  margin-top: 30px;
}

main.home {
  padding-top: 384px;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

.navbar, .banner {
  background-color: rgba(0, 0, 0, .25);
  color: #F0F0F0;
}

nav.navbar {
  --bs-navbar-brand-margin-end: 60px;
  --bs-navbar-active-color: var(--bs-light);
}

ul.navbar-nav {
  --bs-nav-link-color: var(--bs-light);
}

.dropdown-menu .nav-link {
  --bs-nav-link-color: var(--bs-black);
}

.navbar-brand img {
  height: 64px;
}

/* banner */
.banner {
  height: 844px;
  width: 100%;
  text-align: center;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sticky .banner div {
  height: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sticky {
  padding-top: 64px;
}

.banner h1 {
  font-family: var(--font-family-headings);
  font-size: 5.8em;
  margin-bottom: 0;
}
.banner h2 {
  font-family: var(--font-family-banner);
  font-weight: 300;
  font-weight: 2.5em;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 20px;
  row-gap: 20px;
  column-fill: auto;
}

/* Posts */
main.tmpl-post {
  max-width: 70rem;
}

.dateline {
  margin-bottom: 1rem;
}

.dateline time {
  margin-right: 2rem;
  font-family: var(--font-family-headings);
}

/* Infobox */
:root {
  --color-infobox: #ffc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-infobox: #082840;
  }
}

.infobox {
  background-color: var(--color-infobox);
  color: var(--color-gray-90);
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.infobox ol:only-child {
  margin: 0;
}