---
title: Archive
layout: layouts/content-sidebar.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 4
---

{% set postslist = collections.posts | excludeDrafts %}
{% include "postslist.njk" %}
