---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
show: 9
---

<section class="blog">
  {% set posts = collections.posts | excludeDrafts %}
  <h2>Latest Posts <small><a href="/posts/">See all</a></small></h2>

  {% set postslist = posts | head(-show) %}
  {% include "postslist.njk" %}
</section>
