---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
show: 9
---

<section class="blog">
  {% set maxPosts = collections.posts.length | min(show) %}
  <h3>Latest Posts <small><a href="/posts/">See all</a></small></h3>

  {% set postslist = collections.posts | head(-show) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</section>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>