---
layout: layouts/base.njk
permalink: /map/
templateClass: 'registry'
---
{% block scripts %}
<script src="/assets/scripts/leaflet.js"></script>
<script src="/assets/scripts/leaflet.markercluster.js"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/assets/css/leaflet.css">
<link rel="stylesheet" href="/assets/css/MarkerCluster.css">
<link rel="stylesheet" href="/assets/css/MarkerCluster.Default.css">

<link rel="stylesheet" href="/assets/css/registry.css">
{% endblock %}

<header>
    {% include "partials/menu.njk" %}
</header>

<main>
    <div id="map"></div>

    <div id="list-container">
        <div id="header-container">
          <h2>TEI Publisher Registry</h2>
        </div>
        <!-- Flexbox-Container für Suchfeld und Reset-Button -->
        <div id="filter-container">
            <input type="text" id="search" placeholder="&#x1F50D; Filter list" />
            <button id="reset">Reset Filters</button>
        </div>

        <!-- Infokasten -->
        <div id="info-box">
            If you are using TEI Publisher, please let us know. Send us the title of your edition, a postal address, url, email and a very short description:
            <a href="mailto:info@e-editiones.org">info@e-editiones.org</a>
        </div>

        <ul id="entries"></ul>
    </div>

    <script src="/assets/scripts/registry.js"></script>

</main>
