---
layout: layouts/base.njk
permalink: /map/
templateClass: 'registry'
---
{% block scripts %}
<script src="/assets/scripts/leaflet.js"></script>
<script src="/assets/scripts/leaflet.markercluster.js"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/assets/css/leaflet.css">
<link rel="stylesheet" href="/assets/css/MarkerCluster.css">
<link rel="stylesheet" href="/assets/css/MarkerCluster.Default.css">

<link rel="stylesheet" href="/assets/css/registry.css">
{% endblock %}

<header>
    {% include "partials/menu.njk" %}
</header>

<main class="{{ templateClass }}">
    <!-- Flexbox-Container für Suchfeld und Reset-Button -->
    <div id="filter-container">
        <input type="search" id="search" placeholder="Filter list" />
        <button id="reset">&#x2715;</button>
    </div>
    <section id="map" class="panel map-panel"></section>


    <search id="list-container" class="panel list-panel half">
        <div id="header-container">
          <div class="divider">
            <span class="handle"></span>
          </div>
          <h1>TEI Publisher Registry</h1>
        </div>

        <section class="scroll-container">

          <!-- Infokasten -->
          <div id="info-box">
              If you are using TEI Publisher, please let us know. Send us the title of your edition, a postal address, url, email and a very short description:
              <a href="mailto:info@e-editiones.org">info@e-editiones.org</a>
          </div>

          <ul id="entries"></ul>
        </section>
    </search>

    <script src="/assets/scripts/registry.js"></script>
    <script src="/assets/scripts/registry-panels.js"></script>

</main>
