<div class="row row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-1 gx-2 gy-2">
  {% for post in postslist | reverse %}
  <div class="col col-sm-1">
    <div class="card h-100 {% if post.url == url %} active{% endif %}">
      <div class="card-img-top">
        {% if post.data.coverImage %}
          {% thumb post.data.coverImage, post.data.coverImageCredits | striptags %}
        {% else %}
          {% thumb metadata.defaultCover, metadata.defaultImageCredits | striptags %}
        {% endif %}
        <div class="tagline">
          {% for tag in post.data.tags | filterTagList %}
            {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="badge text-bg-light">{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title">
          <a href="{{ post.url | url }}" class="text-muted">{% if post.data.short %}{{ post.data.short }}{% elif post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        </h3>
        {% if post.data.lead %}
        <p class="card-text">{{ post.data.lead }}</p>
        {% endif %}
        <time class="card-subtitle mb-2 text-muted" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </div>
    </div>
  </div>
  {% endfor %}
</div>