<div class="banner" data-rellax-zindex="1" data-rellax-speed="-7">
    <div>
        <div class="hero">
            <h1><span class="initial">e</span>ditions with <span class="initial">f</span>uture</h1>
            <p>rooted in standards, built by a community, meant to last</p>
            <div>
                <button class="btn btn-warning">Donate</button>
                <button class="btn btn-warning">Join</button>
            </div>
        </div>
        <div class="d-none d-lg-block">
        {% include "partials/intro.njk" %}
        </div>
    </div>
</div>