<div class="banner" data-rellax-zindex="1" data-rellax-speed="-7">
    <div>
        <div>
            <h1>Editions with Future</h1>
            <h2>rooted in standards, built by a community, meant to last</h2>
            <div>
                <button class="btn btn-warning">Donate</button>
                <button class="btn btn-warning">Join</button>
            </div>
            <div class="intro-text">
                <div>
                    <p><strong>International non profit society</strong> gathering 
                    edition projects, cultural heritage institutions, 
                    and individuals<br/><strong>Empower</strong> digital projects by promoting 
                    <strong>open standards</strong> and <strong>community collaboration</strong>.</p>
                    <ul>
                        <li><a href="pages/home/">researchers ...</a></li>
                        <li><a href="pages/home/">memory institutions ...</a></li>
                        <li><a href="pages/home/">libraries ...</a></li>
                        <li><a href="pages/home/">developers ...</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>