<div class="banner" data-rellax-speed="-7">
    <div>
        <div class="hero">
            <h1><span class="initial">e</span>ditions with <span class="initial">f</span>uture</h1>
            <p class="hero-tagline">rooted in standards, built by the community, meant to last</p>
            <div class="hero-buttons">
                <a href="/join/" class="btn btn-brand btn-lg">Join</a>
                <a href="/donate/" class="btn btn-brand btn-lg">Donate</a>
            </div>
        </div>
        <div class="d-none d-lg-block">
        {% include "partials/intro.njk" %}
        </div>
    </div>
</div>