<footer class="p-2">
    <div>e-editiones | c/o Stadtarchiv der Ortsbürgergemeinde St.Gallen | Notkerstrasse 22 | CH-9000 St. Gallen | info@e-editiones.org<br/>
    IBAN: CH21 0900 0000 1549 5086 6 | BIC: POFICHBEXXX</div>
</footer>