<div class="intro-text container">
    <div class="row justify-content-md-center m-3">
        <p>We are an <strong>international non profit society</strong> bringing together 
        edition projects, cultural heritage institutions, 
        scholars, and developers to <strong>empower</strong> digital projects by promoting 
        <strong>open standards</strong> and <strong>community collaboration</strong>.
        Curious?</p>
    </div>
    <div class="row justify-content-md-center m-2 gx-lg-2 gy-2">
        <div class="col">
            <a href="pages/researcher/" class="shortcut btn">
            <img src="img/poet-svgrepo-com.svg" height="32">
            <span>Researchers</span>
            </a>
        </div>
        <div class="col">
            <a href="pages/memory/" class="shortcut btn">
                <img src="img/university-svgrepo-com.svg" height="32">
                <span>Cultural heritage institutions</span>
            </a>
        </div>
        <div class="col">
            <a href="pages/developer/" class="shortcut btn">
                <img src="img/school-material-svgrepo-com.svg" height="32">
                <span>Developers</span>
            </a>
        </div>
    </div>
</div>