<div class="intro-text container">
    <p>We are an <strong>international non profit society</strong> bringing together edition projects, cultural heritage institutions, scholars, and developers to <strong>empower</strong> digital projects by promoting <strong>open standards</strong> and <strong>community collaboration</strong> – with the ultimate goal of helping to sustain editions far into the future.</p>
</div>
