<form action="/search" class="search-form">
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Search query" name="query">
        <button id="search-button" class="btn btn-brand" type="submit">Search</button>
    </div>
</form>

<h2>Tags</h2>
{% include "partials/tagcloud.njk" %}
