<form action="/search" class="search-form">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Query" aria-label="Query"
            aria-describedby="search-addon" name="query">
        <button id="search-button" class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<h3>Tags</h3>
{% include "partials/tagcloud.njk" %}