<ul class="cloud" role="navigation" aria-label="tag cloud" data-show-value>
  {% for tag, count in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li>
      <a href="{{ tagUrl | url }}" data-weight="{{count}}" class="post-tag">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>