---
layout: layouts/base.njk
---

<header>
    {% include "partials/menu.njk" %}
</header>

<main class="container {{ templateClass }}">
    {% block top %}{% endblock %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
</main>

<footer></footer>