---
layout: layouts/base.njk
---

<header>
    {% include "partials/menu.njk" %}
</header>

<main class="container {{ templateClass }}">
    {{ content | safe }}
</main>

<footer></footer>

<!-- Current page: {{ page.url | url }} -->
<!--script>
    document.addEventListener('DOMContentLoaded', function() {
    window.addEventListener('scroll', function() {
        const winTop = window.pageYOffset;
        console.log('scrolling %s', winTop);
        if (winTop > 30) {
        document.body.classList.add('sticky');
        } else {
        document.body.classList.remove('sticky');
        }
    });
    });
</script-->