---
layout: layouts/base.njk
templateClass: home
---
{% block scripts %}
<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script src="{{ '/assets/scripts/map.js' | url }}"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
{% endblock %}

<header>
    {% include "partials/menu.njk" %}
</header>
{% include "partials/banner.njk" %}
<main class="{{ templateClass }}">
    <div class="container">
        <div class="row d-lg-none">
            {% include "partials/intro.njk" %}
        </div>
        <div class="row gx-lg-5">
            <div class="col-md-8">{{ content | safe }}</div>
            <aside class="col-md-4">
                {% include "partials/sidebar.njk" %}

                <h3>Projects Map <small class="text-muted"><a href="/map/">Expand</a></small></h3>
                <div id="map" data-zoom="5"></div>

                {% if metadata.twitter.enabled %}
                <div class="twitter d-none d-lg-block">
                    <a class="twitter-timeline" href="https://twitter.com/EEditiones" data-tweet-limit="{{metadata.twitter.limit}}" data-chrome="noborders">Tweets by EEditiones</a> 
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                {% endif %}
            </aside>
        </div>
    </div>
</main>

{% include "partials/footer.njk" %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const main = document.querySelector('.banner');
        const observer = new IntersectionObserver((entries) => {
            if (!entries[0].isIntersecting) {
                document.body.classList.remove('banner-visible');
            } else {
                document.body.classList.add('banner-visible');
            }
        }, { threshold: 0.5 });
        observer.observe(main);

        const rellax = new Rellax('.banner');
    });
</script>
<!-- Current page: {{ page.url | url }} -->