---
layout: layouts/base.njk
templateClass: home
---

<header class="header-with-banner">
    {% include "partials/menu.njk" %}
    <div class="banner">
        <div>
            <h1>Editions with Future</h1>
            <h2>Rooted in standards, built by a community, meant to last</h2>
        </div>
    </div>
</header>

<main class="container {{ templateClass }}">
    {{ content | safe }}
</main>

<footer></footer>

<!-- Current page: {{ page.url | url }} -->
<!--script>
    document.addEventListener('DOMContentLoaded', function() {
    window.addEventListener('scroll', function() {
        const winTop = window.pageYOffset;
        console.log('scrolling %s', winTop);
        if (winTop > 30) {
        document.body.classList.add('sticky');
        } else {
        document.body.classList.remove('sticky');
        }
    });
    });
</script-->