---
layout: layouts/post.njk
---

{% block top %}
    <p class="alert alert-warning">The <a href="{{ '/pages/community-meetings' | url }}">community meetings</a> are held online at 
        <a href="https://meet.existsolutions.com/eeditiones">https://meet.existsolutions.com/eeditiones</a>, 
        usually on the first Tuesday of each month at 17:00 CET/CEST. No registration is required to attend. 
        We warmly invite you to propose topics 
        <a href="mailto:info@e-editiones.org">info@e-editiones.org</a> 
        for the forthcoming meetings.
    </p>
{% endblock %}

{{ content | safe }}