---
layout: layouts/base.njk
templateClass: tmpl-post
---
<header>
    {% include "partials/menu.njk" %}
</header>
<main class="container {{ templateClass }}">
    <div class="row gx-lg-5 gx-2">
        <div class="{{'col-lg-9 col-md-9' if sidebar else ''}}">
            <h1>{{ title }}</h1>

            <div class="dateline">
              <div>{{ author }}</div>
              <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            </div>

            {% if tags | hasTag('meetups') %}
            <p class="alert alert-warning">The <a href="{{ '/pages/community-meetings' | url }}" class="alert-link" >community meetings</a> are held online using
              <a class="alert-link" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_NGI2N2I1NWEtZmVkNy00MGI0LWEzZjgtNzU4YzlhY2I1M2Rj%40thread.v2/0?context=%7b%22Tid%22%3a%22bd21f2e9-9af5-42a1-8caf-eb264278467f%22%2c%22Oid%22%3a%2210b0f60b-ba0a-446b-81af-8ba3b4070d61%22%7d">this link</a>,
                usually on the first Tuesday of each month at 17:00 CET/CEST. No registration is required to attend. 
                We warmly invite you to propose topics 
                <a class="alert-link" href="mailto:info@e-editiones.org">info@e-editiones.org</a> 
                for the forthcoming meetings.
            </p>
            {% endif %}
            
            {{ content | safe }}
        </div>
        {% if sidebar %}
        <aside class="col-lg-3 col-md-3">
            {%- if collections.posts %}
            {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
            {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
            {%- if nextPost or previousPost %}

            <div class="btn-group w-100 mb-3">
              {%- if nextPost %}
              <a class="btn btn-light" href="{{ nextPost.url | url }}"
                data-bs-toggle="tooltip" title="{{ nextPost.data.title }}">
                <i class="bi bi-arrow-left"></i>
              </a>
              {% endif %}
              {%- if previousPost %}
              <a class="btn btn-light" href="{{ previousPost.url | url }}"
                data-bs-toggle="tooltip" title="{{ previousPost.data.title }}">
                <i class="bi bi-arrow-right"></i>
              </a>
              {% endif %}
            </div>

            {%- endif %}
            {%- endif %}

            <ul class="tags mb-3">
              {%- set cls = cycler("color-2", "color-3", "color-4") %}
              {%- for tag in tags | filterTagList %}
              {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
              <li><a href="{{ tagUrl | url }}" class="badge text-bg-light" style="color: var(--{{cls.next()}}) !important">{{ tag }}</a></li>
              {%- endfor %}
            </ul>

            {{ content | toc | safe }}
        </aside>
        {% endif %}
    </div>
</main>

{% include "partials/footer.njk" %}